
<ul class="p-0">
    <li class="side-link">@Html.ActionLink("Recently solve", "", "", new { @class = "link" }) <i class="icon fa-brands fa-dropbox"></i></li>
    <li class="side-link">@Html.ActionLink("Discussions", "", "", new { @class = "link" }) <i class="icon fa-solid fa-comments"></i></li>
    <li class="side-link">@Html.ActionLink("Favourite", "", "", new { @class = "link" })<i class="icon fa-solid fa-star"></i></li>
</ul>