@{
    ViewBag.Title = "Home Page";
}
<style>
    section {
        background: white;
        border: 1px ridge;
        border-radius: 6px;
        margin-top: 20px;
    }
    .setting-bg-img{
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<main>
    <div id="carouselExampleIndicators" class="carousel slide bg-secondary p-3" data-bs-ride="carousel" style="border-radius:8px">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ps-4">
            <div class="carousel-item active ps-5">
                <img src="~/wwwroot/SudokuImage/Easy.png" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block" style="text-align:right">
                    <p>Value from 1 to 5</p>
                    <p>Five boxes separated by five colors</p>
                    <p>Value must be unique on it row, colums, box</p>
                </div>
            </div>
            <div class="carousel-item ps-5">
                <img src="~/wwwroot/SudokuImage/Medium.png" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block" style="text-align:right">
                    <p>Value from 1 to 7</p>
                    <p>Seven boxes separated by seven colors</p>
                    <p>Value must be unique on it row, colums, box</p>
                </div>
            </div>
            <div class="carousel-item ps-5">
                <img src="~/wwwroot/SudokuImage/Hard.png" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block" style="text-align:right">
                    <p>Value from 1 to 9</p>
                    <p>Nine boxes separated by border line of black and white</p>
                    <p>Value must be unique on it row, colums, box</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="">
        <section aria-labelledby="hostingTitle">
            <div class="card">
                <div class="card-header"><h2 id="gettingStartedTitle">Interesting in become a generator ?</h2></div>
                <div class="card-body setting-bg-img" style="background-image:url('/wwwroot/SudokuImage/sudoku_generator-featured.png'); height:450px">
                    <a class="btn btn-dark" href="/RoleManage/">Learn more &raquo;</a>
                </div>
            </div>
        </section>
        <section aria-labelledby="librariesTitle">
            <div class="card">
                <div class="card-header"><h2 id="gettingStartedTitle">Contest</h2></div>
                <div class="card-body setting-bg-img" style="background-image:url('/wwwroot/SudokuImage/featured-sudoku-competition.jpg'); height:450px">
                    <a class="btn btn-dark" href="/Contests/">Go to contest &raquo;</a>
                </div>
            </div>
        </section>
    </div>
</main>