@{
    ViewBag.Title = "Home Page";
}
<style>
    section {
        background: white;
        border: 1px ridge;
        border-radius: 6px;
        padding: 10px;
        margin-top: 20px;
    }
</style>
<main>

    <div class="">
        <section aria-labelledby="gettingStartedTitle">
            <div class="card">
                <div class="card-header"><h2 id="gettingStartedTitle">About rules</h2></div>
                <div class="card-body">
                    <div class="row p-3 mb-3">
                        <div class="col-3">
                            <img src="~/wwwroot/SudokuImage/Easy.png" style="width: -webkit-fill-available" />
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Value from 1 to 5</li>
                                <li>Five boxes separated by five colors</li>
                                <li>Value must be unique on it row, colums, box</li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <img src="~/wwwroot/SudokuImage/EasyExample.png" style="width: -webkit-fill-available" />
                        </div>
                    </div>
                    <div class="row p-3 mb-3">
                        <div class="col-3">
                            <img src="~/wwwroot/SudokuImage/Medium.png" style="width: -webkit-fill-available" />
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Value from 1 to 7</li>
                                <li>Seven boxes separated by seven colors</li>
                                <li>Value must be unique on it row, colums, box</li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <img src="~/wwwroot/SudokuImage/MediumExample.png" style="width: -webkit-fill-available" />
                        </div>
                    </div>
                    <div class="row p-3 mb-3">
                        <div class="col-3">
                            <img src="~/wwwroot/SudokuImage/Hard.png" style="width: -webkit-fill-available" />
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Value from 1 to 9</li>
                                <li>Nine boxes separated by border line of black and white</li>
                                <li>Value must be unique on it row, colums, box</li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <img src="~/wwwroot/SudokuImage/HardExample.png" style="width: -webkit-fill-available" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section aria-labelledby="librariesTitle">
            <div class="card">
                <div class="card-header"><h2 id="gettingStartedTitle">Contest</h2></div>
                <div class="card-body">
                    <ul>
                        <li>Create or join room to compete with others player</li>
                    </ul>
                    <a class="btn btn-outline-dark" href="/Contests/">Go to contest &raquo;</a>
                </div>
            </div>
        </section>
        <section aria-labelledby="hostingTitle">
            <div class="card">
                <div class="card-header"><h2 id="gettingStartedTitle">Interesting to become an author ?</h2></div>
                <div class="card-body">
                    <ul>
                        <li>With a small fee, you'll have permission to create riddle</li>
                    </ul>
                    <a class="btn btn-outline-dark" href="/RoleManage/">Learn more &raquo;</a>
                </div>
            </div>
        </section>
    </div>
</main>